.login_img_section {
    background-image: url("https://img.freepik.com/premium-photo/modern-workspace-top-view-flat-lay-style_61343-416.jpg?w=1380");
    background-size: cover;
    background-position: center;
}
.register_img_section {
     background-image: url("https://as2.ftcdn.net/v2/jpg/05/24/33/91/1000_F_524339117_ngnGjmgghdLATOTLY7NYgqwe4IXdI2z0.jpg ");
     background-size: contain;
     background-position: right;
}
